body{font-family:verdana;}
.header{width: 100%;position: fixed;z-index: 999;top: 0;right: 0;left: 0;height: 70px;background: #2874f0;
    &__content{margin: 0 auto;display: table;padding: 16px 30px 16px 40px;
        &--BrandStore{
            width: 22%;
        }
        &--links{position: relative;top: 0;bottom: 0;right: 0;
            .rightNav{margin: 0;padding: 0;
                li{list-style: none;position: relative;margin-left: 0;margin-right: 20px;margin-top: 0;
                    svg{
                        width: 38px;height: 38px;
                    }
                    .bagcount{width: 15px;height: 15px;line-height: 15px;border-radius: 50%;
                        display: inline-block;position: absolute;z-index: 49;top: 2px;
                        right: -5px;background: red;font-size: 10px;color: #fff;}
                        
                }
                .searchSec{
                    position:relative;margin-top: 3px;
                    padding-bottom: 5px !important; 
                    & .headerSearchIcon{display: inline-block;margin-top: 3px;}
                    svg{width: 28px;height: 28px;}
                    .searchInputBlock{
                      width: 0; background: #fff;position:absolute;right:100%;top:0;
                      form{margin: 0;}
                      .header-search-input{width: 100%;height: 34px;padding: 6px 12px;background: transparent;background-color: #2874f0;
                        color: #fff;border-radius: 0;border: 0;border-bottom: 1px solid #fff;box-shadow:none;padding-bottom: 0px;
                         &:focus{outline:0;box-shadow: none;}
                        &:placeholder{color: #fff;}
                        }
                     }
                }
               
            }
        }
    }
}
.priceSlider{
    input{border:0;background:transparent;font-weight:bold;}
    .ui-slider{
        height: 3px;background: #2874f0;
        .ui-widget-header{background: #2874f0;}
        .ui-slider-handle{border-radius: 50%;top: -9px;cursor:pointer;
            &:focus{outline:0;}
        }
    }
} 
.footerBlk{position: fixed;z-index: 999;display: inline-block;left:0;width: 100%;bottom: 0;padding: 10px;color:#fff;background: #2874f0;}
.modal{top:10%;
    .modal-dialog{width:275px;margin:30 auto;
        .modal-header{
            padding:10px;
            .close{margin: 0;padding: 3px;position: absolute;top: 0px;right: 6px;}
        }
        .modal-body{padding:20px;}
        .modal-footer{border-top:0;
            padding:1px;
            .btn{border: 1px solid #ccc;color:#2874f0;
                border-radius: 0;margin:0;background:#fff;}
        }
    }
}


